body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(2, 99, 0);
  color: #000000;
}

button {
  color: #FFFFFF;
  background-color: #000000;
  width: 85px;
  border: none;
  margin-right: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.active {
  background-color: rgb(77, 201, 0);
  color: #000000;
  transition: all .3s ease-out;
}

